<footer>
  <hr>
  <section><div>
    <h1>Community Portal</h1>
    <p>Welcome to the Community Portal, where you can find all the latest news and events happening in your area. Join us to stay connected and informed!</p>
    <h2>Follow us on:</h2>
    <a href="">Instagram</a><br>
    <a href="">Twitter</a><br>
    <a href="">LinkedIn</a><br>  
  </div></section>
  <p id="copyright">&copy; 2025 Community Portal</p>
  
</footer>
</body>
</html>