<h1 class="pageheadings">Welcome to the Community Portal</h1>

<%- include('header.ejs') %>

<p>We are glad to have you here. Stay tuned for exciting upcoming events.</p>

<div id="events">
    <h2>Upcoming Events</h2>

</div>

<%- include('footer.ejs') %>